/* h2{
    color: aqua;

}
p{
    color: blue;
    text-align: center;
     background-color: rgb(237, 243, 243);
     front-size:25px;
}
.par{
    color: #d2df15;
   
    text-align:right ;
}
#abhi{
    color: rgb(255, 0, 128);
    
} 
h1{
    color: blue;
} */
/* div{

    height: 200px;
    width: 200px;
    color: red;
    background-color: cadetblue;
    text-align: center;
    align-content: center;
    padding: 30px;
    margin:  100px;
    border: 1px double red;
    display: inline-table;
    .box box1{
    align-items: center;
     display: inline-block;
}
.boxbox2{
    align-items: center;
     display: inline-block;
}
.boxbox3{
    align-items: center;
     display: inline-block; */

/* .container{
    align-items: center;
    display:inline-block ;

} */
/* .box{
    background-color: red;
    color: green;
    display: inline-block;
}
.box1{
    background-color: #d2df15;
    display: block;
    width: 300px;
} */
/* img{
    width: 300px;
    height: 200px;
    margin: 1px;
}
.para1{
    float: right;
}
div{
    background-color: palevioletred;
    margin: 0px;
    padding: 20px;
    height: 400px;
}
#box{
    clear: both;

} */
 .container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: lightblue;
    border: 2px black solid;
    /* flex-direction:row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* justify-content: center; */
    align-items: center;
    align-content:space-between;
    gap: 0px;

 }
 .item{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: chartreuse;
    align-content:center;
    text-align: center;
    /* flex-grow: 1; */
    
 }
 .item2{
    order: 4;
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    /* align-self: ; */
 }
 .item4{
    order: -1;
 }